<%= simple_form_for(@booking) do |f| %>
  <%= f.error_notification %>
  <div class="col-md-6 col-md-offset-3 card">
    <h3 class="text-center">Borrow books</h3>
    <% if @books.count != 0 %>
      <div class="form-inputs">
        <div class="row margin-top-booking text-center">
          <%= f.label 'User:', class: 'borrow-label' %>
          <%= f.collection_select :user_id, @users, :id, :email %>
          <%= f.label 'Book:', class: 'borrow-label book-label' %>
          <%= f.collection_select :book_id, @books, :id, :title %>
          <div class="form-actions text-center col-md-12">
            <%= f.button :submit, "Borrow", class: "btn btn-primary margin-top-booking" %>
            <br>
            <%= link_to "Back", :back %>
          </div>
        </div>
      </div>
    <% else %>
      <p>No more books available!</p>
    <% end %>
  </div>
<% end %>

