<div class="col-md-4 col-md-offset-4">
  <div class="card">
    <div class="row margin-bottom">
      <div class="col-md-3">
        <% if @user.photo? %>
          <%= image_tag @user.photo, width: 80, height: 80, crop: :fill %>
        <% else %>
          <%= image_tag "default-avatar.png", width: 80, height: 80, crop: :fill %>
        <% end %>
      </div>
      <div class="col-md-6">
        <h4><%= @user.first_name %> <%= @user.last_name %></h4>
        <p><%= @user.email %></p>
      </div>
      <div class="col-md-3">
        <% if @user.bookings.count == 0 %>
          <%= link_to @user, method: :delete, remote: true, data: {confirm: "Are you sure?"} do %>
            <i class="fa fa-trash float-right" aria-hidden="true"></i>
          <% end %>
        <% end %>
        <%= link_to(edit_user_path(@user)) do %>
          <i class="fa fa-pencil float-right" aria-hidden="true"></i>
        <% end %>
      </div>
    </div>
    <% if @user.bookings.count != 0 %>
      <b>Borrowed books:</b>
      <br>
      <% @user.bookings.each_with_index do |booking, index| %>
        <%= link_to(book_path(booking.book)) do %>
          <%= index + 1 %>) <%= booking.book.title %><br>
        <% end %>
      <% end %>
    <% end %>
    <div class="text-center">
      <%= link_to "Back", users_path, class: "btn btn-primary margin-top" %>
    </div>
  </div>
</div>
